<export>

<template id="tmp-notif" class="Export">
  <div class="w3-padding Btn">
    <span class="Timestamp"></span>
    <div>
      <div class="Title" style="font-weight:bold"></div>
      <div class="Content"></div>
    </div>
  </div>
</template>
<template id="tmp-keyboard-shortcut" class="Export">
  <span class="shortcuts w3-tiny w3-opacity w3-right"></span>
</template>
<template id="tmp-hints" class="Export">
  <div class="w3-white">
    <div class="Container" data-index="">
      <div class="search-hints relative">
        <div class="Title w3-padding w3-block"></div>
      </div>
    </div>
  </div>
</template>
<template id="tmp-hints-last" class="Export">
  <div class="w3-white ov-hidden" style="border-radius:0 0 4px 4px;">
    <div class="Container" data-index="">
      <div class="search-hints last relative">
        <div class="Title w3-padding w3-block"></div>
      </div>
    </div>
  </div>
</template>
<template id="tmp-breadcrumb" class="Export">
  <div class="w3-padding w3-button breadcrumbs Button"></div>
</template>
<template id="tmp-file-list" class="Export">
  <!-- # tmp-file-list -->
  <div class="file-list bg2 files pointer no-select Clicker" onclick='uiFileExplorer.OpenFileConfirm(this)' title="" data-type="file" data-fid="" data="" style="position: relative;">
    <div class="w3-center Area" style="padding:32px 0">
      <i class="material-icons Preview-icon" style="font-size:36px">insert_drive_file</i>
    </div>
    <div class="inner">
      <i class="material-icons icons w3-medium w3-left Icon" style="padding:2px 0">insert_drive_file</i>
      <div class="w3-rest w3-small w3-left-align w3-padding relative" style="font-weight:bold;">
        <div class="h-100 d-grid w-100 absolute" style="top: 0;left: 0;">
          <div style="align-items: center;" class="h-100 Name d-flex"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<template id="tmp-folder-list" class="Export">
  <div class="folder-list bg2 folders pointer no-select Clicker inner" onclick='uiFileExplorer.OpenFileConfirm(this)' title="" data-type="folder" data="">
    <i class="icons material-icons w3-medium w3-left" style="padding:2px 0">folder</i>
    <small class="relative ov-hidden" style="font-weight:bold">
      <div class="h-100 d-grid absolute">
        <div style="align-items: center" class="h-100 Name d-flex"></div>
      </div>
    </small>
  </div>
</template>
<template id="tmp-list-file-trash" class="Export">
  <div class="file-list files pointer no-select bg7 hover-bg3-light relative" style="margin:0.1em;padding:0;">
    <div class="w3-center w3-padding-32">
      <i class="material-icons w3-xxlarge" style="color:#777;">insert_drive_file</i>
    </div>
    <div class="bg2 w3-padding">
      <div class="w3-col" style="width:24px;">
        <i class="material-icons w3-medium w3-left" style="padding:2px 0;color:__iconColor__!important;">insert_drive_file</i>
      </div>
      <div class="w3-rest w3-small w3-left-align w3-padding relative" style="font-weight:bold;">
        <div style="top:0;left:0" class="h-100 w-100 absolute">
          __name__
        </div>
      </div>
    </div>
  </div>
</template>
<template id="tmp-list-folder-trash" class="Export">
  <div class="folder-list w3-left w3-left-align pointer no-select folders bg2 hover-bg3-light" style="margin:0.1em;padding:0;">
    <div class="d-grid" style="padding:8px 16px;grid-template-columns:auto 1fr;">
      <div style="width:24px;">
        <i class="material-icons w3-medium w3-left" style="padding:2px 0;color:__iconColor__!important;">folder</i>
      </div>
      <small class="relative ov-hidden" style="font-weight:bold;">
        <div style="top:0;left:0;" class="h-100 w-100 absolute">
          __name__
        </div>
      </small>
    </div>
  </div>
</template>

<template id="tmp-file-tab" class="Export">
  <!-- # file tab -->
  [ .w3-left .file-tab .relative data-kind="itemFileTab" data-title="__name__" oncontextmenu="ui.OpenTabInExplorer(this)" data-parent-id=""
    [ .Indicator]
    [ 
      <div class="w3-right" style="padding:6px 10px;">
        [i '__fiber__' .material-icons .w3-right .w3-button .w3-hover-none .w3-hover-text-light-grey .w3-medium .w3-text-gray .icon-rename onclick="tabManager.FileClose('__fid__')" {padding:4px 0 4px 9px;}]
      </div>
      <div class="w3-rest relative" style="padding:18px 24px;line-height:1.5em;">
        <div class="file-tab-name no-select w3-small file-name w3-left w-100 absolute" onclick="tabManager.focusTab('__fid__', true)" data-title="__name__" style="left:0;top:0;color:#fff!important;padding:10px 10px 10px 19px;font-weight:bold;">__name__</div>
      </div>
    ]
  ]
</template>

<template id="msg-git-rate-limit" class="Export">
  <div>Rate limit remaining : <b><span class="Rate">54</span></b>. <a href="https://github.com/tmpmachine/codetmp/wiki/GitHub-Rate-Limit" target="_blank">(What is this? <span class="material-icons" style="font-size:14px">open_in_new</span>)</a></div>
</template>
<template id="msg-drop-zone-no-edit" class="Export">
  <div>
    <i class="material-icons">upload</i><br>
    <p>Drop to open files on editor.</p>
  </div>
</template>
<template id="msg-drop-zone" class="Export">
  <div>
    <i class="material-icons">upload</i><br>
    <!-- <p class="Helpnote">Hold <b>Ctrl</b> key to enable local editing of dropped files.</p> -->
    <!-- <p class="Helpnote w3-hide">(Feature disabled, window not focused)</p> -->
    <p class="Helpnote">Drop your files here</p>
  </div>
</template>
<template id="msg-drop-edit-mode" class="Export">
  <div>
    <i class="material-icons">edit</i><br>
    <p>Drop your files here.</p>
  </div>
</template>
<template data-name="tree-node" class="Export">
  <ul class="file-tree-list file-tree d-none" data-fid="-1">
    <li class="folder-root open">
      <span class="folder-name root" data-fid="">Root</span>
      <ul class="isLoaded"></ul>
    </li>
  </ul>
</template>

</export>

<script>
  let content = document.getElementsByTagName('export')[0].innerHTML.trim();
  window.opener.postMessage({ type: 'export-html', content }, '*');
</script>